body {
  font-family: Arial;
  font-size: 18px;
}
#cadre{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

#img1{
  width: 1500px;

}
#HELPING{
  text-align: left;
}

h3 {
  text-align: center;;
  }

.lastcadre{
  text-align: center;
  margin-left: 580px;
 font-size: 14px;
 border: 1px solid #0000FF;
 background-color: #0000CD;
 padding: 10px;
 width: 170px;
 height: 20px;
 border-radius: 5px 5px 5px 5px;
}

.menu {
  width: 100%;
  height: 100px;
  margin-top: 30px;
  margin-left: 450px;
}
.img {
  float: left;
  left: 30px;
  top: 5px;
  position: relative;
}
.menu li {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 40px;
  margin-left: 10px;
  display: inline-block;
  list-style: none;
   font-size: 14px;
}
.cadretexte {
  float: left;
  background-color: white;
}
.cadre {
 font-size: 14px;
 border: 1px solid #43CD80;
 color: #43CD80;
 padding: 10px;
 width: 150px;
 height: 20px;
 text-align: center;
}
a {
  font-family: arial;
  color: grey;
  text-decoration: none;
}
a:hover {
  font-family: arial;
  color: black;
  text-decoration: none;
}

#cochon{
  width: 150px;
  height: 100px;
  float: left;
  margin-left: 100px;
}

#smile{
  width: 150px;
  height: 100px;
  margin-left: 350px;

}

#pomme{
  width: 150px;
  height: 100px;
  float: right;
  margin-right: 100px
}
